#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# dh_clean doesn't honour --sourcedirectory, so we use '.' for now.
SRCDIR=.

%:
	dh $@ --with python2 --sourcedirectory=$(SRCDIR)

override_dh_auto_build:
	cd $(SRCDIR)/isolate && ./compile.sh
	set -x ; for locale in $(SRCDIR)/cms/server/po/*.po ; do \
		cc=$${locale%.po} ; cc=$${cc##*/} \
		path=$(SRCDIR)/cms/server/mo/$$cc/LC_MESSAGES ; \
		mkdir -p $$path ; \
		msgfmt $$locale -o $$path/cms.mo ; \
	done

override_dh_install:
	dh_install
	# Remove .sample extension from example files (may not be necessary if we
	# are not building the cms package).
	d=debian/cms/usr/share/doc/cms/examples && mv $$d/cms.conf.sample $$d/cms.conf || true
	d=debian/cms/usr/share/doc/cms/examples && mv $$d/cms.ranking.conf.sample $$d/cms.ranking.conf || true

override_dh_fixperms:
	dh_fixperms
	chmod 4750 debian/isolate/usr/bin/isolate || true

override_dh_clean:
	dh_clean
	rm -f $(SRCDIR)/isolate/isolate
	rm -rf cms.egg-info/
	rm -rf build/
	find -name '*.mo' | xargs rm -f
